VITE_SUPABASE_URL=https://ytaffawkghxgozkbdwku.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0YWZmYXdrZ2h4Z296a2Jkd2t1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5ODUzNjAsImV4cCI6MjA5MjU2MTM2MH0.jaPbfOexV9WMZ5xkQ4W1mjFStE9t82qcegih8lc0_-0
